<app-sidenav></app-sidenav>
<table class="table table-hover ms-4 caption-top" style="width: 97%;">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact_number</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of users_db">
            <td>{{a.name}}</td>
            <td>{{a.email}}</td>
            <td>{{a.contact_number}}</td>
            <td>{{a.gender}}</td>
        </tr>
    </tbody>
</table>